.phone::before {
    content: 'New';
    position: absolute;
    width: 100%;
    height: 25%;
    background: red;
    color: white;
    font-size: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(45deg);
    right: -15px;
    top: 5px;
    z-index: 0;
}